<%= form_for @task, html: {class: "form-horizontal center-content"} do |f| %>

  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="default-values ">
    <p><strong>hidden fields:</strong></p>
    <div class="field">
      <%= f.label :user_id, 'user id' %><br>
      <%= f.text_field :user_id, value: current_user.id, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :active, 'status' %><br>
      <%= f.check_box :active, class: 'form-control', checked: @task.active? %>
    </div>
    <div class="field date-time-row">
      <%= f.label :created_at, 'created at' %><br>
      <%= f.datetime_select :created_at, class: 'form-control', value: @task.created_at, type: 'datetime-local' %>
    </div>
    <div class="field date-time-row">
      <%= f.label :started_at, 'started at' %><br>
      <%= f.datetime_select :started_at, class: 'form-control', value: @task.started_at, type: 'datetime-local' %>
    </div>
    <div class="field date-time-row">
      <%= f.label :stopped_at, 'stopped at' %><br>
      <%= f.datetime_select :stopped_at, class: 'form-control', value: @task.stopped_at, type: 'datetime-local' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :name, 'name' %><br>
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :category, 'category' %><br>
    <%= f.select(:category, class: 'form-control') do %>
      <% [[@task.category.nil? ? 'none' : @task.category, @task.category.nil? ? 'none' : @task.category],
          ['tickets', 'tickets'],
          ['plugin', 'plugin'],
          ['website', 'website'],
          ['techsupport', 'techsupport'],
          ['research', 'research'],
          ['design', 'design'],
          ['development', 'development'],
          ['meeting', 'meeting'],
          ['organisation', 'organisation'],
          ['AS', 'AS'],
          ['BP', 'BP'],
          ['BP/P', 'BP/P'],
          ['ITS', 'ITS'],
          ['P/LZ', 'P/LZ'],
          ['SPORT', 'SPORT'],
          ['TEN', 'TEN'],
          ['WSK', 'WSK'],
          ['break', 'break']].each do |c| %>
        <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :duration, 'duration' %><br>
    <%= f.number_field :duration, class: 'form-control', value: @task.duration.nil? ? 0 : @task.duration %>
  </div>

  <%= f.submit "#{@task.updated_at.nil? ? 'create' : 'update'} task", class: "btn btn-default btn-primary" %>

<% end %>
