<% provide(:title, User.find(session[:user_id]).name) %>
<!-- app/views/tasks/show.pdf.erb -->

<head>

  <meta charset="utf-8">

  <style>
    body{
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .page-border{
      margin: 25px 20px 20px 25px;
      padding: 5px 0;
      /*border: 1px solid black;*/
    }
    .table-border{
      border: 1px solid #666666;
      border-collapse: collapse;
    }
    .table-border2{
      border-bottom: 1px solid #666666;
    }
    .tab{
      display: inline-block;
      width: 75px;
    }
    h3.title img{
      vertical-align: middle;
    }
    h1,h2,h3,h4,h5,h6{
      color: #252525;
    }
    h2{
      font-weight: normal;
    }
    h3{
      font-size: 14px;
      margin: 11px 0px;
      text-align: left;
    }
    h4{
      font-size: 12px;
      margin: 5px;
      text-align: left;
      line-height: 10px;
    }
    h5{
      font-size: 10px;
      margin: 5px;
      text-align: left;
      line-height: 11px;
    }
    h6{
      font-size: 10px;
      margin: 5px;
      text-align: left;
    }
    h1{
      font-size: 10px;
      margin: 5px 0;
      text-align: left;
    }
    h2{
      font-size: 9px;
      margin: 5px;
      text-align: left;
      letter-spacing: 0.001em;
      line-height: 6px;
    }
    h2.total{
      font-size: 9px;
      font-weight: bolder;
      color: #111111;
      vertical-align: bottom;
      text-align: right;
    }
    .table-row{
      height: 5px;
    }
    .table-row2{
      height: 105px;
    }
    .table-row3{
      height: 50px;
    }
    .table-row4{
      height: 10px;
    }
    hr{
      color: #666666;
    }
    .center-text > h5, .center-text > h2{
      text-align: center !important;
    }
  </style>
</head>
<!-- locals: { tasks: @week, user: @user, week: @calendar_week, year: @calendar_year, abteilung: @abteilung, ausbildungsjahr: @ausbildungsjahr, starting_day: @starting_day } -->
<body>
  <div class="page-border">
    <h3 class="title">
      <%= wicked_pdf_image_tag('logo_handelkammer.png', alt: "IHK Berlin") %>
      <div class="tab"></div>
      Ausbildungsnachweis (t채glich)
    </h3>
    <p></p>
    <table class="table-border">
      <tr class="table-row">
        <th style="width: 40%;" class="table-border"><h4>Name des/der Auszubildenden:</h4></th>
        <th style="width: 60%;" class="table-border" colspan="4"><h4><%= user.name %></h4></th>
      </tr>
      <tr class="table-row">
        <th style="width: 40%;" class="table-border"><h4>Ausbildungsjahr:</h4></th>
        <th style="width: 16%;" class="table-border"><h4><%= ausbildungsjahr %></h4></th>
        <th style="width: 26%;" class="table-border" colspan="2"><h4>Ggf. ausbildende Abteilung:</h4></th>
        <th style="width: 18%;" class="table-border"><h4><%= abteilung %></h4></th>
      </tr>
      <tr class="table-row">
        <th style="width: 40%;" class="table-border"><h4>Ausbildungswoche vom:</h4></th>
        <th style="width: 16%;" class="table-border"><h4><%= I18n.localize(tasks[starting_day][week].first.created_at.advance(days: - starting_day), :format => '%d. %B') %></h4></th>
        <th style="width: 10%;" class="table-border"><h4>bis:</h4></th>
        <th style="width: 34%;" class="table-border" colspan="2"><h4><%= I18n.localize(tasks[starting_day][week].first.created_at.advance(days: 6 - starting_day), :format => '%d. %B %Y')
        %></h4></th>
      </tr>
    </table>
    <p></p>
    <table style="width: 100%;" class="table-border">
      <tr style="background-color: #dcdcdc" class="table-row">
        <th style="width: 10%;" class="table-border center-text"><h5>KW <%= week %></h5><h5><%= year %></h5></th>
        <th style="width: 80%;" class="table-border"><h5>Betriebliche T채tigkeiten, Unterweisungen, betrieblicher Unterricht, sonstige Schulungen, Themen des Berufsschulunterrichts:</h5></th>
        <th style="width: 10%;" class="table-border center-text"><h5>Stunden</h5></th>
      </tr>
      <% total_time_week = 0 %>
      <% tasks.each_with_index do |weekday, i| %>
          <% total_time_day = 0 %>
          <tr class="table-row2">
            <th style="width: 10%;" valign="middle" class="table-border center-text">
              <h5>
                <%= I18n.localize(tasks[starting_day][week].first.created_at.advance(days: - (starting_day - i)), :format => '%A') %><br>
                <%= I18n.localize(tasks[starting_day][week].first.created_at.advance(days: - (starting_day - i)), :format => '%d.%m.%Y') %>
              </h5>
            </th>
            <th style="width: 80%;" valign="top" class="table-border">
              <% weekday[week].nil? ? "" : weekday[week].each do |task| %>
                  <h2>
                    <%= task.category %> - <%= task.name %>
                  </h2>
              <% end %>
              <h2 class="total">
                <%= weekday[week].nil? ? "" : "Summe:" %>
              </h2>
            </th>
            <th style="width: 10%;" valign="top" class="table-border center-text">
              <% weekday[week].nil? ? "" : weekday[week].each do |task| %>
                  <h2>
                    <%= seconds_to_time(task.duration) %>
                    <% total_time_day += task.duration %>
                  </h2>
              <% end %>
              <h2 class="total">
                <%= weekday[week].nil? ? "" : seconds_to_time(total_time_day) %>
              </h2>
            </th>
          </tr>
          <% total_time_week += total_time_day %>
      <% end %>
      <!--tr class="table-row3">
        <th style="width: 10%;" valign="middle" class="table-border center-text">
          <h5>
            <%= I18n.localize(tasks[starting_day][week].first.created_at.advance(days: 5 - starting_day), :format => '%A') %><br>
            <%= I18n.localize(tasks[starting_day][week].first.created_at.advance(days: 5 - starting_day), :format => '%d.%m.%Y') %>
          </h5>
        </th>
        <th style="width: 80%;" valign="top" class="table-border"><h2></h2></th>
        <th style="width: 10%;" valign="top" class="table-border center-text"><h2></h2></th>
      </tr-->
    </table>
    <table style="width: 100%;">
      <tr class="table-row4">
        <th style="width: 10%;" class="center-text"><h2></h2></th>
        <th style="width: 80%;"><h2 class="total">Gesamt:</h2></th>
        <th style="width: 10%;" class="center-text"><h2 class="total"><%= seconds_to_time(total_time_week) %></h2></th>
      </tr>
    </table>
    <p></p>
    <h6>Durch die nachfolgende Unterschrift wird die Richtigkeit und Vollst채ndigkeit der obigen Angaben best채tigt.</h6>
    <p><br></p>
    <table style="width: 100%;">
      <tr>
        <th style="width: 40%;" class="table-border2"><h1></h1></th>
        <th style="width: 20%;"><h1></h1></th>
        <th style="width: 40%;" class="table-border2"><h1></h1></th>
      </tr>
      <tr>
        <th style="width: 40%;"><h1>Datum, Unterschrift Auszubildende/r</h1></th>
        <th style="width: 20%;"><h1></h1></th>
        <th style="width: 40%;"><h1>Datum, Unterschrift Ausbildende/r oder Ausbilder/in</h1></th>
      </tr>
    </table>
  </div>
</body>
