<% provide(:javascript_clock, javascript_path(path_to_javascript('clock.js'))) %>
<% logged_in? ? @user = current_user : @user = {name: ''} %>
<% tasks = Task.where(user_id: session[:user_id]).reject { |task| task.category == 'break' }.sort_by(&:created_at)

   calendar_weeks_header = {}

   tasks.each do |task|
     week = task.created_at.strftime('%V')
     year = task.created_at.year.to_s

     if calendar_weeks_header[year + "-" + week].nil?
       calendar_weeks_header[year + "-" + week] = {tasks: 1}
     else
       calendar_weeks_header[year + "-" + week][:tasks] += 1
     end
   end

   weeks_header = calendar_weeks_header.sort %>

<header>
  <!-- Static navbar -->
  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle More</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "TaskR", root_path, id: "logo", class: "logo" %>
        <%= link_to "", "", id: "clock", class: "logo" %>

      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <!--<li class="navbar-brand hidden-xs"></li>-->
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", logged_in? ? @user : root_path %></li>
          <% if logged_in? %>
            <li><%= link_to "Tasks", tasks_path %></li>
            <li class='<%= logged_in? ? "" : "hidden"%>'><%= link_to "Print", print_tasks_url(params[:week].nil? ? weeks_header[0][0] : params[:week].split('-')[1]) + '.pdf'%></li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Week <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><h6 class="dropdown-header">display selected weeks tasks</h6></li>
                <% weeks_header.each do |week| %>
                    <li><h5 class="dropdown-item weeks"><a href="/tasks/week/<%= week[0] %>"><%= week[0] %></a></h5></li>
                <% end %>
              </ul>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><h6 class="dropdown-header">Settings</h6></li>
                <li><%= link_to "User Configuration", edit_user_path(@user), class: "dropdown-item" %></li>
                <li><h6 class="dropdown-header hidden">Development</h6></li>
                <li><%= link_to "Show all users", users_path, class: "dropdown-item hidden" %></li>
                <li><%= link_to "Show all tasks", all_tasks_path, class: "dropdown-item hidden" %></li>
                <li><h6 class="dropdown-header">Quit TaskR</h6></li>
                <li><%= link_to "Log out (User: #{@user.name})", logout_path, method: "delete", class: "dropdown-item" %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign up", new_user_path %></li>
            <li><%= link_to "Log in", login_path %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
</header>
