<!DOCTYPE html>
<html>
<head>
  <title>TaskR | <%= yield(:title) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag(yield :optional_javascript) %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="page">
  <div class="container">
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= debug(params) if Rails.env.development? %>
    <%= yield %>
  </div>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
